<p>deposit-form works!</p>

<h3>Cuenta numero: {{this.data?.Account.accountNumber}}</h3>

<form [formGroup]="depositTransaction">
  <mat-form-field appearance="fill">
    <mat-label>Cantidad a depositar $:</mat-label>
    <input matInput formControlName="transactionValue" type="number" [min]="1" />
    <mat-error *ngIf="">"Ingresa un valor a depositar"</mat-error>
  </mat-form-field>

  <button mat-button [mat-dialog-close]="this.depositTransaction.getRawValue()" [disabled]="this.depositTransaction.invalid">Depositar</button>
</form>
