.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.debit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}

.tittle-form {
  color: white;
  font-weight: 500;
  font-size: 1.5rem
}

mat-form-field {
  width: 80%;
}

.debit-button {
  background: rgb(203, 54, 0);
  background: linear-gradient(
    180deg,
    rgba(203, 54, 0, 1) 58%,
    rgba(214, 64, 0, 1) 75%
  );
}
