<div class="main-container">
  <div class="info-section">
    <div class="curriculum">
      <div class="left-side">
        <h1 class="name-section">Diego Fernando Becerra Zambrano</h1>

        <h3 class="profession-section">
          Desarrollador de software - Ingeniero de Petróleos
        </h3>

        <h4 class="email-section">Email: diegofer1110@gmail.com</h4>

        <p class="profile-section">
          Desarrollador junior de software Java Backend con 10 meses de
          experiencia profesional en el área de automatización usando librerías
          como puppeteer y playwright para obtener datos de proveedores gps en
          el área de logística terrestre. Actualmente me encuentro mejorando mis
          habilidades Backend porque es el área que más despierta mi curiosidad
          y me apasiona como ninguna otra
        </p>
        <div class="icons-section">
          <div>
            <a href="https://github.com/ZenSeit" target="_blank"
            ><img
              class="social-icon"
              src="../../../assets/images/githubLogo.png"
              alt=""
          /></a>
          <a href="">
            <img
              class="social-icon"
              src="../../../assets/images/linkedinLogo.png"
              alt=""
            />
          </a>
          </div>
        </div>
      </div>
      <div class="rigth-side">
        <img
          class="profile-photo"
          src="../../../assets/images/DiegoB.png"
          alt="Diego Becerra"
        />
      </div>
    </div>
  </div>
  <div class="bar-section">
    <button mat-raised-button routerLink="/login">Ir al banco</button>
  </div>
</div>
