<div class="usersTable-container">
  <table mat-table [dataSource]="dataUser" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
    </ng-container>

    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef>Nombres</th>
      <td mat-cell *matCellDef="let element">{{ element?.names }}</td>
    </ng-container>

    <ng-container matColumnDef="lastnames">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let element">{{ element?.lastNames }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
    </ng-container>

    <ng-container matColumnDef="cellphone">
      <th mat-header-cell *matHeaderCellDef>Celular</th>
      <td mat-cell *matCellDef="let element">{{ element?.cellPhone }}</td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="detail-button" (click)="goToUserAccounts(element?.id)">+</button>
        <app-new-user-button
          [editUser]="element"
          (infoForm)="editUser($event)"
          tittleButton="Editar usuario"
        ></app-new-user-button>
        <ng-container *ngIf="idUserSession !== element?.id">
          <button mat-button class="deleted-button" (click)="deleteUser(element?.id)">X</button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="hd-table"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
