.form-container {
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
}

.naccount-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}

mat-form-field {
  width: 80%;
}
